div{
  margin: 5px 0;
}
h1{
  text-align: center;
}
h3{
  margin-top: 0px;
}
.container{
	width:95%;
}
.page-header{
  position: relative;
}
.page-header>.logout{
  position: absolute;
  bottom: 0;
  right: 50px;
}
.cover{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  margin: 0;
  background: rgba(0,0,0,0.88); 
  z-index: 1;
}
.cover>.cover-container{
  width: 60%;
  margin: 40px auto;
  padding: 0 0 20px 0;
  background: #F5F1DE;
  border: 2px solid #FFF;
  border-radius: 10px;
}
.cover>.cover-container>form>.title{
  width: 100%;
  border-bottom: 1px solid #AAA;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #DD0000;
}
.cover>.cover-container>form>.title>span{
  display: inline-block;
  margin: -8px 8px;
  color: #555;
  font-size: 25px;
  float: right;
}
.cover>.cover-container>form>.title>span:hover{
  cursor: pointer;
}
.cover>.cover-container>form>.content{
  width: 90%;
  margin: 0 auto;
  font-family: Arial;
  font-size: 12px;
  color: #000;
}
.cover>.cover-container>form>.content>div{
  margin: 18px 0;
}
.cover>.cover-container>form>.content>div>p{
  margin: 0;
}
.cover>.cover-container>form>.content>div>input, .cover>.cover-container>form>.content>div>select{
  width: 100%;
  height: 30px;
  padding: 0 5px;
  border: 2px solid #AAA;
}
.cover>.cover-container>form>.content>div>input:focus, .cover>.cover-container>form>.content>div>select:focus{
  border: 2px solid #CC0000;
  outline: none;
}
.cover>.cover-container>form>.content>div:nth-of-type(5){
  position: relative;
}
.cover>.cover-container>form>.content>div>ul{
  width: 100%;
  height: auto;
  padding: 2px;
  background: white;
  border: 2px solid #AAA;
  overflow: auto;
}
.cover>.cover-container>form>.content>div>ul>li:not(.input){
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 4px;
  height: 26px;
  margin: 2px;
  background: #DDD;
  list-style-type: none;
  float:left;
}
.cover>.cover-container>form>.content>div>ul>li.input{
  float:left;
  margin-left: 5px;
  width: 27%;
  list-style-type: none;
}
.cover>.cover-container>form>.content>div>ul>li>a{
  cursor: pointer;
  color: #999;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 2px 0 3px;
}
.cover>.cover-container>form>.content>div>ul>li>input{
  border: 0;
  width: 100%;
  height: 26px;
}
.cover>.cover-container>form>.content>div>ul>li>input:focus{
  outline: none;
}
.cover>.cover-container>form>.content>div>.search-result{
  display: none;
  position: absolute;
  left: 100px;
  top: -288px;
  background: #fff;
  border: solid 2px lavender;
  width:70%;
  height:300px;
  z-index: 1;
  overflow-y: auto;
}
.cover>.cover-container>form>.content>div>.search-result>.result-detail{
  width: 96%;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  padding: 5px 10px;
  border-bottom: 2px solid lavender;
}
.cover>.cover-container>form>.content>div>.search-result>.result-detail>h4{
  font-weight: bold;
}
.cover>.cover-container>form>.content>div>.search-result>.result-detail>h4>a{
  cursor: pointer;
  color: black;
}
.cover>.cover-container>form>.content>div>.search-result>.result-detail>p:nth-of-type(1){
  font-style: italic;
  color: #BFBFBF;
}
.cover>.cover-container>form>.content>div>.search-result>.result-detail>a{
  text-decoration: none;
  color: #5D71D9;
  cursor: pointer;
}
.cover>.cover-container>form>.content>div:nth-of-type(6){
  position: relative;
}
.cover>.cover-container>form>.content>div>.classification{
  position: absolute;
  display: none;
  left: 100px;
  top: -288px;
  background: #fff;
  border: solid 2px lavender;
  width:70%;
  height:300px;
  z-index: 1;
  overflow-y: auto;
}
.cover>.cover-container>form>.content>div>.classification>div{
  margin: 0;
  padding: 5px;
  height: 30px;
  border-bottom: 2px solid lavender;
  color: #555;
}
.cover>.cover-container>form>.content>div>.classification>div:hover{
  background: #88B93F;
}
.cover>.cover-container>form>.content>div>.classification>div>a{
  display: inline-block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.cover>.cover-container>form>.content>input{
  width: 140px;
  height: 30px;
  background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
  box-shadow: 3px 3px 12px black;
}
.cover>.cover-container>form>.content>input:hover{
  background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%);
}
.cover>.cover-container>form>.content>input:active{
  background: #AAA;
}
.cover>.cover-container>form>.content>input:focus{
  outline: none;
}
.subheader{
  margin: 0;
  height: 70px;
}
.subheader>.title, .subheader>.nav{
  margin: 0;
  height: 3.5em;
}
.subheader>.content{
  margin: 10px 0;
}
.subheader>.nav>ul{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}
.subheader>.nav>ul>li{
  float: right;
  margin-left: 5px;
  padding: 0 10px;
  width: 170px;
  text-align: center;
  list-style-type: none;
  line-height: 3.5em;
  font-size: 11px;
  background-color: #006400;
  border-color: #398439;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  transition: linear 0.3s;
}
.subheader>.nav>ul>li.selected{
  background-color: #4CAF50;
  border-color: #4cae4c;
  cursor: default;
}
.subheader>.nav>ul>li:hover:not(.selected){
  background-color: #fff;
  border-color: #4cae4c;
  cursor: pointer;
  transform: scale(1.05);
}
.subheader>.nav>ul>li>a{
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
}
.subheader>.nav>ul>li:hover:not(.selected)>a{
  color: green;
}
.left-section>.search-bar{
  height: 50px;
  padding: 10px;
  margin-top: 0px;
  background-color: #FAFAFA;
  border: 2px solid lavender;
  border-radius: 5px;
}
.left-section>.search-bar>p{
  margin: 0 auto;
  height: 30px;
}
.left-section>.search-bar>p>.search-content{
	width: 82%;
  padding: 2px 5px;
  border: solid 2px black;
  border-radius: 10px;
}
.left-section>.search-bar>p>.search-content:focus{
  outline: none;
}
.left-section>.search-bar>p>.search-icon{
  float: right;
  width:28px;
  height:28px;
}
.left-section>.status{
  border: 2px solid lavender;
  margin-top: 10px;
  padding: 0 10px;
  background-color: #EFEFEF;
  border-radius: 5px;
}
.left-section>.status>.status-title{
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  border-bottom: 2px solid white;
}
.left-section>.status>.status-list{
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}
.left-section>.status>.status-list>span{
  min-width: 50%;
  display: inline-block;
}
.left-section>.log-issues{
  width: 100%;
  text-align: center;
}
.left-section>.log-issues>button{
  margin: 20px auto;
  width: 70%;
  height: 60px;
  text-align: center;
  border: 2px green solid;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  background: #FFF;
  transition: linear 0.25s;
}
.left-section>.log-issues>button:hover{
  color: #FFF;
  background: #006400;
  cursor: pointer;
}
.left-section>.log-issues>button:focus{
  outline: none;
}
.result-section{
  padding: 0 5px;
}
.result-section>table{
  border: 2px solid #DDDDDD;
  border-collapse: collapse;
}
.result-section>table>thead{
  display: block;
}
.result-section>table>thead>tr{
  display: block;
  width: 100%;
}
.result-section>table>thead>tr>th:nth-of-type(1){
  display: block;
  width: 80%;
  float: left;
  border: 2px solid #DDDDDD;
  background-color: #D5D5D5;
}
.result-section>table>thead>tr>th:nth-of-type(2){
  display: block;
  width: 20%;
  float: left;
  border: 2px solid #DDDDDD;
  background-color: #D5D5D5;
}
.result-section>table>thead>tr>th:hover{
  cursor: pointer;
}
.result-section>table>tbody{
  display: block;
  transform: translate(0, -1px);
  width: 100%;
  height: 370px;
  clear: left;
  overflow-y: scroll;
  overflow-x: hidden;
}
.result-section>table>tbody>tr{
  display: block;
  width: 100%;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  overflow:auto;
}
.result-section>table>tbody>tr:nth-of-type(even){
  background-color: #EFEFEF;
}
.result-section>table>tbody>tr>td:nth-of-type(1){
  display: block;
  width: 81.4%;
  clear: left;
  float: left;
  border-right: 1px solid #DDDDDD;
}
.result-section>table>tbody>tr>td:nth-of-type(2){
  display: block;
  width: 18.6%;
  float: left;
  border-left: 1px solid #DDDDDD;
}
.result-section>table>tbody>tr>td>a{
  color: black;
}
.result-section>table>tbody>tr>td>a:focus{
  text-decoration: none;
}
.result-section>.page{
  float: right;
  margin: 15px;
}