div{
	margin:5px;
}
h1{
  text-align: center;
}
.container{
	width:60%;
}
.search-content{
	width: 82%;
}
.search-icon{
  width:28px;
  height:28px;
}
.search-result{
  display: none;
  position: absolute;
  left: 25px;
  top: 80px;
  background: #fff;
  border: solid 2px lavender;
  width:82%;
  height:300px;
  z-index: 1;
  overflow-y: auto;
}
.search-result>.result-detail{
  width: 96%;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  padding: 5px 10px;
  border-bottom: 2px solid lavender;
}
.search-result>.result-detail>h4{
  font-weight: bold;
}
.search-result>.result-detail>p:nth-of-type(1){
  font-style: italic;
  color: #BFBFBF;
}
.search-result>.result-detail>a{
  text-decoration: none;
  color: #5D71D9;
  cursor: pointer;
}
.links{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
}
.links>a{
  width: 42%;
  height: 160px;
}
.links>a, .faq>p>a{
  display: block;
  margin: 1% 4%;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  float: left;
  box-shadow: 4px 4px 12px black;
  transition: linear 0.2s;
}
.links>a:hover, .faq>p>a:hover{
  background-color: #DDD;
  border: 2px solid #000;
  text-decoration: none;
  transform: scale(1.1);
  cursor: pointer;
}
.links>a:active, .faq>p>a:active{
  background-color: #DDD;
  border-color: #398439;
  text-decoration: none;
}
.links>a>span{
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.links>a>img, .faq>p>a>img{
  border-radius: 15px;
}
.login{
  height:96px;
}
.login>p>a{
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}