div{
  margin: 5px 0;
}
h1{
  text-align: center;
}
h3{
  margin: 0px;
  width: 200px;
}
.clear{
  clear: both;
}
.btn.btn-secondary{
  background-color: #BFBFBF;
}
.btn.btn-secondary.active{
  background-color: #989898;
}
.container{
	width:95%;
}
.subheader{
  margin: 0;
  height: 70px;
}
.subheader>.title, .subheader>.nav{
  margin: 0;
  height: 3.5em;
}
.subheader>.content{
  margin: 10px 0;
}
.subheader>.nav>ul{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}
.subheader>.nav>ul>li{
  float: right;
  margin-left: 5px;
  padding: 0 10px;
  width: 160px;
  text-align: center;
  list-style-type: none;
  line-height: 3.5em;
  font-size: 11px;
  background-color: #006400;
  border-color: #398439;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  transition: linear 0.3s;
}
.subheader>.nav>ul>li.selected{
  background-color: #4CAF50;
  border-color: #4cae4c;
  cursor: default;
}
.subheader>.nav>ul>li:hover:not(.selected){
  background-color: #fff;
  border-color: #4cae4c;
  cursor: pointer;
  transform: scale(1.05);
}
.subheader>.nav>ul>li>a{
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
}
.subheader>.nav>ul>li:hover:not(.selected)>a{
  color: green;
}
.left-section{
  position: relative;
}
.left-section>.clear-filters{
  position: absolute;
  left: -5.5em;
  top: 3.7em;
  width:10em;
  height: 2em;
  font-size: 16px;
  text-align: center;
  background: rgb(255,168,76); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(255,168,76) 0%, rgb(255,123,13) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(255,168,76) 0%,rgb(255,123,13) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(255,168,76) 0%,rgb(255,123,13) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
  color: white;
  font-weight: bold;
  line-height: 2em;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: linear 0.2s;
  transform: rotate(-90deg);
  box-shadow: -5px 5px 12px black;
}
.left-section>.clear-filters:hover{
  background: rgb(255,103,15); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(255,103,15) 0%, rgb(255,103,15) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(255,103,15) 0%,rgb(255,103,15) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(255,103,15) 0%,rgb(255,103,15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */
  transform: scale(1.1) rotate(-90deg);
}
.left-section>.search{
  border: 2px solid lavender;
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 0;
  background-color: #EFEFEF;
}
.left-section>.search>.search-bar{
  margin-top: 0px;
}
.left-section>.search>.search-bar>p{
  margin: 0 auto;
  height: 30px;
}
.left-section>.search>.search-bar>p>.search-content{
	width: 82%;
  padding: 2px 5px;
  border: solid 2px #999;
  border-radius: 10px;
}
.left-section>.search>.search-bar>p>.search-content:focus{
  outline: none;
}
.left-section>.search>.search-bar>p>.search-icon{
  float: right;
  width:28px;
  height:28px;
}
.left-section>.report_status,
.left-section>.report_types, .left-section>.communities,
.left-section>.rating{
  border: 2px solid lavender;
  margin-top: 10px;
  padding: 0 10px;
  background-color: #EFEFEF;
  border-radius: 5px;
}
.left-section>.report_status>.report_status-title,
.left-section>.report_types>.report_types-title,
.left-section>.communities>.communities-title,
.left-section>.rating>.rating-title{
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  border-bottom: 2px solid white;
}
.left-section>.report_status>.report_status-list,
.left-section>.report_types>.report_types-list,
.left-section>.communities>.communities-list{
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}
.left-section>.report_status>.report_status-list>span,
.left-section>.report_types>.report_types-list>span{
  min-width: 50%;
  display: inline-block;
}
.left-section>.communities>.communities-list{
  height: 280px;
}

.left-section>.rating>.rating-content{
  width: 12.5em;
  margin: 0 auto;
  overflow: auto;
}
.left-section>.rating>.rating-content>input{
  display: none;
}
.left-section>.rating>.rating-content>span{
  font-size: 3em;
  line-height: 1.1em;
  display: inline-block;
  float: right;
}
.left-section>.rating>.rating-content>span:hover,
.left-section>.rating>.rating-content>span:hover ~ span,
.left-section>.rating>.rating-content>span.selected{
  color: gold;
  cursor: pointer;
}


.result-section{
  position: relative;
  padding: 0 5px;
}
.result-section>.loading{
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -200px;
  z-index: 2;
}
.result-section>.loading>img{
  width: 400px;
  height: 400px;
}
.result-section>.cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  margin: 0 5px;
  background: rgba(255,255,255,0.7);
  z-index: 1;
}
.result-section>table{
  border: 2px solid #DDDDDD;
  border-collapse: collapse;
  margin-bottom: 0;
  overflow-y: hidden;
}
.result-section>table>thead{
  display: block;
  height: 38px;
}
.result-section>table>thead>tr{
  display: block;
  width: 100%;
}
.result-section>table>thead>tr>th{
  display: block;
  float: left;
  border: 1px solid #DDDDDD;
  background-color: #D5D5D5;
  text-align: center;
}
.result-section>table>thead>tr>th:nth-of-type(1){
  width: 19.7%;
}
.result-section>table>thead>tr>th:nth-of-type(2){
  width: 31.2%;
}
.result-section>table>thead>tr>th:nth-of-type(3){
  width: 7.8%;
}
.result-section>table>thead>tr>th:nth-of-type(4){
  width: 14.7%;
}
.result-section>table>thead>tr>th:nth-of-type(5){
  width: 14.7%;
}
.result-section>table>thead>tr>th:nth-of-type(6){
  width: 11.9%
}
.result-section>table>thead>tr>th:hover{
  cursor: pointer;
}
.result-section>table>tbody{
  display: block;
  transform: translate(0, -1px);
  width: 100%;
  height: 370px;
  clear: left;
  overflow-y: scroll;
  overflow-x: hidden;
}
.result-section>table>tbody>tr{
  display: block;
  width: 100%;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  overflow:hidden;
}
.result-section>table>tbody>tr:nth-of-type(even){
  background-color: #EFEFEF;
}
.result-section>table>tbody>tr>td{
  display: block;
  float: left;
  text-align: center;
}
.result-section>table>tbody>tr>td:nth-of-type(1){
  width: 20%;
  text-align: left;
  padding-left: 16px;
}
.result-section>table>tbody>tr>td:nth-of-type(2){
  width: 32%;
  text-align: justify;
  padding: 10px 20px;
}
.result-section>table>tbody>tr>td:nth-of-type(3){
  width: 8%;
}
.result-section>table>tbody>tr>td:nth-of-type(4){
  width: 15%;
}
.result-section>table>tbody>tr>td:nth-of-type(5){
  width: 15%;
}
.result-section>table>tbody>tr>td:nth-of-type(6){
  width: 10%
}
.result-section>table>tbody>tr>td>a{
  color: black;
}
.result-section>table>tbody>tr>td>a:focus{
  text-decoration: none;
}
.result-section>.page{
  float: right;
  margin: 15px;
}