div{
  margin: 5px 0;
}
h1{
  text-align: center;
}
h3{
  margin-top: 0px;
}
.btn.btn-secondary{
  background-color: #BFBFBF;
}
.btn.btn-secondary.active{
  background-color: #989898;
}
.container{
	width:90%;
}
.left-section>.search{
  border: 2px solid lavender;
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 0;
  background-color: #EFEFEF;
}
.left-section>.search>.search-bar{
  margin-top: 0px;
}
.left-section>.search>.search-bar>p{
  margin: 0 auto;
  height: 30px;
}
.left-section>.search>.search-bar>p>.search-content{
	width: 82%;
  padding: 2px 5px;
  border: solid 2px #999;
  border-radius: 10px;
}
.left-section>.search>.search-bar>p>.search-content:focus{
  outline: none;
}
.left-section>.search>.search-bar>p>.search-icon{
  float: right;
  width:28px;
  height:28px;
}
.left-section>.report_status,
.left-section>.report_types, .left-section>.communities,
.left-section>.rating{
  border: 2px solid lavender;
  margin-top: 10px;
  padding: 0 10px;
  background-color: #EFEFEF;
  border-radius: 5px;
}
.left-section>.report_status>.report_status-title,
.left-section>.report_types>.report_types-title,
.left-section>.communities>.communities-title,
.left-section>.rating>.rating-title{
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  border-bottom: 2px solid white;
}
.left-section>.report_status>.report_status-list,
.left-section>.report_types>.report_types-list,
.left-section>.communities>.communities-list{
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}
.left-section>.report_status>.report_status-list>span,
.left-section>.report_types>.report_types-list>span{
  min-width: 50%;
  display: inline-block;
}
.left-section>.communities>.communities-list{
  height: 280px;
}

.left-section>.rating>.rating-content{
  width: 12.5em;
  margin: 0 auto;
  overflow: auto;
}
.left-section>.rating>.rating-content>input{
  display: none;
}
.left-section>.rating>.rating-content>span{
  font-size: 3em;
  line-height: 1.1em;
  display: inline-block;
  float: right;
}
.left-section>.rating>.rating-content>span:hover,
.left-section>.rating>.rating-content>span:hover ~ span,
.left-section>.rating>.rating-content>span.selected{
  color: gold;
  cursor: pointer;
}


.result-section{
  position: relative;
  padding: 0 5px;
}
.result-section>.loading{
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -200px;
  z-index: 1;
}
.result-section>.loading>img{
  width: 400px;
  height: 400px;
}
.result-section>table{
  border: 2px solid #DDDDDD;
  border-collapse: collapse;
  margin-bottom: 0;
  overflow-y: hidden;
}
.result-section>table>thead{
  display: block;
  height: 38px;
}
.result-section>table>thead>tr{
  display: block;
  width: 100%;
}
.result-section>table>thead>tr>th{
  display: block;
  float: left;
  border: 1px solid #DDDDDD;
  background-color: #D5D5D5;
  text-align: center;
}
.result-section>table>thead>tr>th:nth-of-type(1){
  width: 19.7%;
}
.result-section>table>thead>tr>th:nth-of-type(2){
  width: 31.2%;
}
.result-section>table>thead>tr>th:nth-of-type(3){
  width: 7.8%;
}
.result-section>table>thead>tr>th:nth-of-type(4){
  width: 14.7%;
}
.result-section>table>thead>tr>th:nth-of-type(5){
  width: 14.7%;
}
.result-section>table>thead>tr>th:nth-of-type(6){
  width: 11.9%
}
.result-section>table>thead>tr>th:hover{
  cursor: pointer;
}
.result-section>table>tbody{
  display: block;
  transform: translate(0, -1px);
  width: 100%;
  height: 370px;
  clear: left;
  overflow-y: scroll;
  overflow-x: hidden;
}
.result-section>table>tbody>tr{
  display: block;
  width: 100%;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  overflow:hidden;
}
.result-section>table>tbody>tr:nth-of-type(even){
  background-color: #EFEFEF;
}
.result-section>table>tbody>tr>td{
  display: block;
  float: left;
  text-align: center;
}
.result-section>table>tbody>tr>td:nth-of-type(1){
  width: 20%;
  text-align: left;
  padding-left: 16px;
}
.result-section>table>tbody>tr>td:nth-of-type(2){
  width: 32%;
  text-align: justify;
  padding: 10px 20px;
}
.result-section>table>tbody>tr>td:nth-of-type(3){
  width: 8%;
}
.result-section>table>tbody>tr>td:nth-of-type(4){
  width: 15%;
}
.result-section>table>tbody>tr>td:nth-of-type(5){
  width: 15%;
}
.result-section>table>tbody>tr>td:nth-of-type(6){
  width: 10%
}
.result-section>table>tbody>tr>td>a{
  color: black;
}
.result-section>table>tbody>tr>td>a:focus{
  text-decoration: none;
}
.result-section>.page{
  float: right;
  margin: 15px;
}