<!DOCTYPE html>
<html>
<head>
	<title>Communities</title>
	<script src="js/jquery-2.2.4.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/communities.css">
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

</head>
	<body ng-app="CommunitiesApp" >
		<div class="container" ng-controller="SearchCtrl">
			<div class="page-header">
				<h1>GWU Data Insights</h1>
			</div>
			<div class="col-lg-12">
				<h3>Communities</h3>A community is a grouping that corresponds to a functional area or department. A community can contain sub communities.
			</div>
			<div class="col-lg-4 left-section">
				<div class="search-bar">
					<p>
						<input type="text" class="search-content" ng-model="query" />
						<img src="images/icons/magnifying_mirror.png" class="search-icon"/>
					</p>
				</div>
				<div class="communities-list">
					<ul>
						<li ng-repeat="result1 in restructureResult | orderBy:'title':false track by $index">
							<span><img src="images/icons/arrow_icon_right.png" width="10px" height="10px" class="foldIcon" ng-show="result1.content"></span>
							<span ng-click="updateSearchBox(result1.title)">{{result1.title}}</span>
							<ul>
								<li ng-repeat="result2 in result1.content | orderBy:'title':false track by $index">
									<span><img src="images/icons/arrow_icon_right.png" width="10px" height="10px" class="foldIcon" ng-show="result2.content"></span>
									<span ng-click="updateSearchBox(result2.title)">{{result2.title}}</span>
									<ul>
										<li ng-repeat="result3 in result2.content | orderBy:'title':false track by $index">
											<span><img src="images/icons/arrow_icon_right.png" width="10px" height="10px" class="foldIcon" ng-show="result3.content"></span>
											<span ng-click="updateSearchBox(result3.title)">{{result3.title}}</span>
											<ul>
												<li ng-repeat="result4 in result3.content | orderBy:'title':false track by $index">
													<span><img src="images/icons/arrow_icon_right.png" width="10px" height="10px" class="foldIcon" ng-show="result4.content"></span>
													<span ng-click="updateSearchBox(result4.title)">{{result4.title}}</span>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-8 result-section">
				<table class="table">
					<thead>
						<tr >
							<th ng-click="orderField='name.val'; isReverse=!isReverse"><span>Name</span></th>
							<th ng-click="orderField='attributes[0].val'; isReverse=!isReverse"><span>Description</span></th>
						</tr>
					</thead>
					<tbody ng-init="orderField='name.val'; isReverse=false">
						<tr ng-repeat="result in results | filter:{name.val: query} | orderBy:orderField:isReverse track by $index" >
							<td>{{result.name.val}}</td>
							<td>{{result.attributes[0].val}}<span ng-hide="result.attributes[0].val"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<ul>
				<li ng-repeat="data in hahas">{{data.title}}
					<ul>
						<li ng-repeat="i in data.content">{{i}}</li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
</html>