<div class="container" ng-controller="CommunitiesCtrl">
	<div class="page-header">
		<h1>GWU Data Insights</h1>
	</div>
	<div class="subheader">
		<div class="col-lg-2 title">
			<h3>Communities</h3>
		</div>
		<div class="col-lg-10 nav">
			<ul>			
				<li><a href="#data_quality_help_desk">Data Quality Help Desk</a></li>
				<li class="selected">Communities</li>
				<li><a href="#data_sharing_agreements">Data Sharing Agreements</a></li>
				<li><a href="#report_catalog">Report Catalog</a></li>
				<li><a href="#index">Home</a></li>
			</ul>
		</div>
		<div class="col-lg-12 content">
			A community is a grouping that corresponds to a functional area or department. A community can contain sub communities.
		</div>
	</div>
	<div class="col-lg-3 left-section">
		<div class="search-bar">
			<p>
				<input type="text" class="search-content" ng-model="query" />
				<img src="images/icons/magnifying_mirror.png" class="search-icon"/>
			</p>
		</div>
		<div class="communities-list">
			<ul>
				<li ng-repeat="result1 in restructureResult | orderBy:'title':false track by $index">
					<span><img src="images/icons/arrow_icon_right.png" width="10px" height="10px" class="foldIcon" ng-show="result1.content"></span>
					<span ng-click="updateSearchBox(result1.title)">{{result1.title}}</span>
					<ul>
						<li ng-repeat="result2 in result1.content | orderBy:'title':false track by $index">
							<span><img src="images/icons/arrow_icon_right.png" width="10px" height="10px" class="foldIcon" ng-show="result2.content"></span>
							<span ng-click="updateSearchBox(result2.title)">{{result2.title}}</span>
							<ul>
								<li ng-repeat="result3 in result2.content | orderBy:'title':false track by $index">
									<span><img src="images/icons/arrow_icon_right.png" width="10px" height="10px" class="foldIcon" ng-show="result3.content"></span>
									<span ng-click="updateSearchBox(result3.title)">{{result3.title}}</span>
									<ul>
										<li ng-repeat="result4 in result3.content | orderBy:'title':false track by $index">
											<span><img src="images/icons/arrow_icon_right.png" width="10px" height="10px" class="foldIcon" ng-show="result4.content"></span>
											<span ng-click="updateSearchBox(result4.title)">{{result4.title}}</span>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-9 result-section">
		<table class="table">
			<thead>
				<tr >
					<th ng-click="orderField='name.val'; isReverse=!isReverse"><span>Name</span></th>
					<th ng-click="orderField='attributes[0].val'; isReverse=!isReverse"><span>Description</span></th>
				</tr>
			</thead>
			<tbody ng-init="orderField='name.val'; isReverse=false">
				<tr ng-repeat="result in results | filter:{name.val: query} | orderBy:orderField:isReverse track by $index" >
					<td><a href="{{result.name.pageUrl}}" target="_blank">{{result.name.val}}</a></td>
					<td>{{result.attributes[0].val}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<script type="text/javascript">
	$(document).on("click", ".foldIcon", function(){
			if($(this).parent().siblings("ul").is(':visible')){
				$(this).attr("src", $(this).attr("src").substring(0,$(this).attr("src").lastIndexOf("/")+1) + "arrow_icon_right.png");
				$(this).parent().siblings("ul").hide();
				$(this).parent().siblings("ul").css("background", "");
			}else{
				$(".foldIcon").attr("src", $(".foldIcon").attr("src").substring(0,$(".foldIcon").attr("src").lastIndexOf("/")+1) + "arrow_icon_right.png");
				$(this).attr("src", $(this).attr("src").substring(0,$(this).attr("src").lastIndexOf("/")+1) + "arrow_icon_down.png");
				$("ul ul").not($(this).parents()).hide();
				$("ul ul").css("background","");
				$(this).parent().siblings("ul").show();
				$(this).parent().siblings("ul").css("background", "#FFFFFF");
			}
		});
</script>