<div class="container" ng-controller="DataQualityHelpDeskCtrl">
	<div class="cover" ng-init="displayCover=false" ng-show="displayCover">
		<div class="cover-container">
			<form>
				<div class="title">Log Issue<span ng-click="displayCover=false">×</span></div>
				<div class="content">
					<div>
						<p>Title</p>
						<input type="input" name="title">
					</div>
					<div>
						<p>Description</p>
						<input type="input" name="description">
					</div>
					<div>
						<p>Priority</p>
						<select>
							<option>High</option>
							<option>Normal</option>
							<option>Low</option>
						</select>
					</div>
					<div>
						<p>Responsible Community</p>
						<input type="input" name="responsible_community">
					</div>
					<div>
						<p>Relevant Assets</p>
						<input type="input" name="relevant_assets" placeholder="Type something here and confirm">
					</div>
					<div>
						<p>Issue clarification</p>
						<input type="input" name="relevant_assets" placeholder="Enter possible values and separate">
					</div>
					<button>Create Issue</button>
				</div>
			</form>
		</div>
	</div>
	<div class="page-header">
		<h1>GWU Data Insights</h1>
	</div>
	<div class="subheader">
		<div class="col-lg-3 title">
			<h3>Data Quality Help Desk</h3>
		</div>
		<div class="col-lg-9 nav">
			<ul>			
				<li class="selected">Data Quality Help Desk</li>
				<li><a href="#communities">Communities</a></li>
				<li><a href="#data_sharing_agreements">Data Sharing Agreements</a></li>
				<li><a href="#report_catalog">Report Catalog</a></li>
				<li><a href="#index">Home</a></li>
			</ul>
		</div>
		<div class="col-lg-12 content">
			Data Sharing Agreements formalizes the intended use of data, the specific data being shared, who will have access to the data, and describes the mechanisms for sharing this data.
		</div>
	</div>
	<div class="col-lg-3 left-section">
		<div class="search-bar">
			<p>
				<input type="text" class="search-content" ng-model="query" />
				<img src="images/icons/magnifying_mirror.png" class="search-icon"/>
			</p>
		</div>
		<div class="status">
			<p class="status-title">Status</p>
			<div class="status-list" >
				<span><input type="checkbox" ng-true-value="All" ng-init="status_selected[0]=true; disable_selection_all=true" ng-model="status_selected[0]" ng-change="changeCheckedBox(0)" ng-checked="status_selected[0]" ng-disabled="disable_selection_all">All</span><br>
				<span ng-repeat="result in results | deleteDuplicate: 'status' | orderBy:'status' track by $index">
					<input type="checkbox" ng-true-value="{{result.status}}" ng-model="status_selected[$index+1]" ng-change="changeCheckedBox($index+1)"> {{result.status}}
				</span>
			</div>	
		</div>
		<div class="log-issues">
			<button ng-click="displayCover=true">Log a Data Quality Issue</button>
		</div>
	</div>
	<div class="col-lg-9 result-section">
		<table class="table">
			<thead>
				<tr>
					<th ng-click="orderField='name.val'; isReverse=!isReverse"><span>Name</span></th>
					<th ng-click="orderField='status'; isReverse=!isReverse"><span>Status</span></th>
				</tr>
			</thead>
			<tbody ng-init="orderField='name.val'; isReverse=false">
				<tr ng-repeat="result in results | filter:{name.val: query} | DSAResultFilter: status_selected | orderBy:orderField:isReverse track by $index" >
					<td><a href="{{result.name.pageUrl}}" target="_blank">{{result.name.val}}</a></td>
					<td>{{result.status}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>