<!-- Textarea Plugin -->
<script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>
<div class="container" ng-controller="DataQualityHelpDeskCtrl">
	<div class="cover" ng-init="displayCover=false" ng-show="displayCover">
		<div class="cover-container">
			<form ng-submit="createIssue()">
				<div class="title">Log Issue<span ng-click="displayCover=false">×</span></div>
				<div class="content">
					<div>
						<p>Title</p>
						<input type="input" ng-model="issue.signifier" required>
					</div>
					<div>
						<p>Description</p>
						<textarea id="description"></textarea>
					</div>
					<div>
						<p>Priority</p>
						<select ng-init="issue.priority='Normal'" ng-model="issue.priority">
							<option value="Blocking">Blocking</option>
							<option value="Critical">Critical</option>
							<option value="Urgent">Urgent</option>
							<option value="Normal">Normal</option>
							<option value="Minor">Minor</option>
						</select>
					</div>
					<div>
						<p>Responsible Community</p>
						<select ng-model="issue.responsibleCommunity">
							<option ng-repeat="community in communities track by $index" value={{community.resourceId}}>{{community.name}}</option>
						</select>
					</div>
					<div>
						<p>Relevant Assets</p>
						<ul ng-init="inputFocused=false" ng-style="inputFocused && {'border': '2px solid #CC0000'}">
							<li ng-repeat="term in relatedTerm track by $index">{{term.val}}<a ng-click="deleteRelevantAssets($index)">×</a></li>
							<li class="input"><input class="relevant-assets" type="input" ng-model="newRelatedTerm" ng-keyup="delaySearch()" placeholder="Type something here and confirm" ng-focus="inputFocused=true" ng-blur="inputFocused=false"></li>
						</ul>
						<div class="search-result">
							<div class="result-detail" ng-repeat="result in relavantAssets track by $index" ng-if="result.context.val != ''">
								<h4><a ng-click="addRelevantAssets(result.name.id, result.name.val)">{{result.name.val}}</a></h4>
								<p>{{result.higherReference}} <span ng-show="result.higherReference">></span> {{result.context.val}}</p>
								<p ng-repeat="attribute in result.attributes track by $index" ng-if="attribute.type=='Description' || attribute.type=='Definition'">{{attribute.val}}</p>
								<a href="{{result.name.pageUrl}}" target="_blank">Get more details ...</a>
							</div>
						</div>
					</div>
					<div>
						<p>Issue clarification</p>
						<ul ng-init="inputFocused2=false" ng-style="inputFocused2 && {'border': '2px solid #CC0000'}">
							<li ng-repeat="cls in selected_classification track by $index">{{cls.val}}<a ng-click="deleteClassification($index)">×</a></li>
							<li class="input"><input type="input" class="classification_input" ng-model="newClassification" placeholder="Enter possible values and separate" ng-focus="inputFocused2=true" ng-blur="inputFocused2=false"></li>
						</ul>
						<div class="classification">
							<div ng-repeat = "cls in original_classifications | filter:newClassification track by $index"><a ng-click="addClassification(cls)">{{cls}}</a></div>
						</div>
					</div>
					<input type="submit" value="Create Issue">
				</div>
			</form>
		</div>
	</div>
	<div class="page-header">
		<h1>GWU Data Insights</h1>
	</div>
	<div class="subheader">
		<div class="col-lg-3 title">
			<h3>Data Quality Help Desk</h3>
		</div>
		<div class="col-lg-9 nav">
			<ul>			
				<li class="selected">Data Quality Help Desk</li>
				<li><a href="#communities">Communities</a></li>
				<li><a href="#data_sharing_agreements">Data Sharing Agreements</a></li>
				<li><a href="#report_catalog">Report Catalog</a></li>
				<li><a href="#index">Home</a></li>
			</ul>
		</div>
		<div class="col-lg-12 content">
			Data Sharing Agreements formalizes the intended use of data, the specific data being shared, who will have access to the data, and describes the mechanisms for sharing this data.
		</div>
	</div>
	<div class="col-lg-3 left-section">
		<div class="search-bar">
			<p>
				<input type="text" class="search-content" ng-model="query" />
				<img src="images/icons/magnifying_mirror.png" class="search-icon"/>
			</p>
		</div>
		<div class="status">
			<p class="status-title">Status</p>
			<div class="status-list" >
				<span><input type="checkbox" ng-true-value="All" ng-init="status_selected[0]=true; disable_selection_all=true" ng-model="status_selected[0]" ng-change="changeCheckedBox(0)" ng-checked="status_selected[0]" ng-disabled="disable_selection_all">All</span><br>
				<span ng-repeat="result in results | deleteDuplicate: 'status' | orderBy:'status' track by $index">
					<input type="checkbox" ng-true-value="{{result.status}}" ng-model="status_selected[$index+1]" ng-change="changeCheckedBox($index+1)"> {{result.status}}
				</span>
			</div>	
		</div>
		<div class="log-issues">
			<button ng-click="displayCover=true">Log a Data Quality Issue</button>
		</div>
	</div>
	<div class="col-lg-9 result-section">
		<table class="table">
			<thead>
				<tr>
					<th ng-click="orderField='name.val'; isReverse=!isReverse"><span>Name</span></th>
					<th ng-click="orderField='status'; isReverse=!isReverse"><span>Status</span></th>
				</tr>
			</thead>
			<tbody ng-init="orderField='name.val'; isReverse=false">
				<tr ng-repeat="result in results | filter:{name.val: query} | DSAResultFilter: status_selected | orderBy:orderField:isReverse track by $index" >
					<td><a href="{{result.name.pageUrl}}" target="_blank">{{result.name.val}}</a></td>
					<td>{{result.status}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>