<div class="container" ng-controller="HomeCtrl">
	<div class="page-header">
		<h1>GWU Data Insights</h1>
		<div class="logout">
			<button class="btn btn-warning" ng-click="logout()">LOGOUT</button>
		</div>
	</div>
	<div class="col-lg-12">
		Welcome to GWU Data Insights.  Here you will  find information  on Data Governance at GWU.  Here you can search for business terms, view the report catalog, and learn more about data Governance.
	</div>
	<div class="col-lg-6 col-lg-offset-3" >
		<div class="well">
			<p>Search for:</p>
			<p>
				<input type="text" class="search-content" ng-model="searchContent" ng-keyup="delaySearch()" />
				<span><img src="images/icons/arrow_right.png" class="search-icon"/></span>
				<div class="search-result">
					<div class="result-detail" ng-repeat="result in results track by $index">
						<h4>{{result.name.val}}</h4>
						<p>{{result.higherReference}} <span ng-show="result.higherReference">></span> {{result.context.val}}</p>
						<p ng-repeat="attribute in result.attributes track by $index" ng-if="attribute.type=='Description' || attribute.type=='Definition'">{{attribute.val}}</p>
						<a href="{{result.name.pageUrl}}" target="_blank">Get more details ...</a>
					</div>
				</div>
			</p>
		</div>
	</div>
	<div class="col-lg-8 col-lg-offset-2 links">
		<a href="#report_catalog">
			<img src="images/report_catalog.png" width="160" height="120">
			<span>Report Catalog</span>
		</a>
		<a href="#communities">
			<img src="images/communities.png" width="160" height="120">
			<span>Communities</span>
		</a>
		<a href="#data_sharing_agreements">
			<img src="images/data_sharing_agreements.png" width="160" height="120">
			<span>Data Sharing Agreements</span>
		</a>
		<a href="#data_quality_help_desk">
			<img src="images/data_quality_help_desk.png" width="160" height="120">
			<span>Data Quality Help Desk</span>
		</a>
	</div>
	<div class="col-lg-12 faq">
		<h3>Frequently Asked Questions</h3>
		<p>
			<a href="#FAQ"><img src="images/FAQ.jpg"/></a>
		</p>
	</div>
</div>