<!DOCTYPE html>
<html>
<head>
	<title>API test</title>
	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

</head>
	<body ng-app="MainApp" >
		<div class="container" >
			<div class="page-header">
				<h1>GWU Data Insights</h1>
			</div>
			<div class="col-lg-12">
				Welcome to GWU Data Insights.  Here you will  find information  on Data Governance at GWU.  Here you can search for business terms, view the report catalog, and learn more about data Governance.
			</div>
			<div class="col-lg-6 col-lg-offset-3" ng-controller="SearchCtrl">
				<div class="well">
					<p>Search for:</p>
					<p>
						<input type="text" class="search-content" ng-model="searchContent" ng-keyup="search()" />
						<span><img src="images/icons/arrow_right.png" class="search-icon"/></span>
						<div class="search-result">
							<div class="result-detail" ng-repeat="result in results">
								<h4>{{result.name.val}}</h4>
								<p>{{result.higherReference}} <span ng-show="result.higherReference">></span> {{result.context.val}}</p>
								<p>{{result.attributes[0].val}}</p>
								<a href="https://gwu.collibra.com/search#q={{searchContent}}*">Get more details ...</a>
							</div>
						</div>
					</p>
				</div>
			</div>
			<div class="links">
				<div><a href="#">View Report Catalog</a></div>
				<div><a href="#">View Data Sharing Agreements</a></div>
				<div><a href="#">View Communities</a></div>
				<div><a href="#">Request a Report</a></div>
				<div><a href="#">Request a Data Sharing Agreement</a></div>
				<div><a href="#">View Data Quality Issues</a></div>
			</div>
			<div class="col-lg-12" ng-controller="LoginCtrl">
				<p ng-style="loginHoverStyle">
					<span><img src="images/icons/login.png" class="img-circle"/></span>
					<a class="login" href="https://gwu.collibra.com/dashboard" target="_blank" ng-mouseenter="loginHoverStyle={'border': 'solid 3px lavender', 'border-radius':'10px', 'background-color': '#EFEFEF'}" ng-mouseleave="loginHoverStyle={}">Login to the Data Governance Center</a>
				</p>
			</div>
			<div class="col-lg-12">
				<h3>Reporting Environments</h3>
				<p>
					<span><img src="images/icons/tableau.png" class="img-rounded"/></span>
					<span><img src="images/icons/cognos.png" class="img-rounded"/></span>
				</p>
			</div>
		</div>
	</body>
</html>