<div class="container" ng-controller="LoginCtrl">
	<div class="page-header">
		<h1>GWU Data Insights</h1>
	</div>
	<div class="col-lg-12">
		<h3>Welcome to GWU Data Insights.</h3>
	</div>
	<div class="col-lg-12 login">
		<p>You have <strong>NOT</strong> logged in yet. Click the button below to log in.</p>
		<form>
			<input type="text" placeholder="USERNAME" ng-model="user.username">
			<input type="password" placeholder="PASSWORD" ng-model="user.password">
			<button class="btn btn-success btn-lg btn-block" ng-click="login()">LOGIN</button>
		</form>
	</div>
	<div class="col-lg-12 seperator">--------------------------------------OR--------------------------------------</div>
	<div class="col-lg-12 back">
		<p>If you have already logged in, click the button below to redirect to the main page.</p>
		<button class="btn btn-warning btn-lg btn-block" ng-click="back()" ng-disabled="btn_disabled">MAIN PAGE</button>
		<p class="msg">{{msg}}</p>
	</div>
</div>

