<div class="container" ng-controller="ReportCatalogCtrl">

<!-- Traverse the array to set the value of "report type" and "description" for each result-->
<span ng-show="false" ng-repeat="result in results">
	<span ng-repeat="attribute in result.attributes track by $index">
		<span ng-if="attribute.type=='Reporting System'">{{result.reportType=attribute.val;""}}</span>
		<span ng-if="attribute.type=='Description'">{{result.description=attribute.val;""}}</span>
	</span>
</span>
	<div class="page-header">
		<h1>GWU Data Insights</h1>
		<div class="logout">
			<button class="btn btn-warning" ng-click="logout()">LOGOUT</button>
		</div>
	</div>
	<div class="subheader">
		<div class="col-lg-2 title">
			<h3>Report Catalog</h3>
		</div>
		<div class="col-lg-10 nav">
			<ul>			
				<li><a href="#data_quality_help_desk">Data Quality Help Desk</a></li>
				<li><a href="#communities">Communities</a></li>
				<li><a href="#data_sharing_agreements">Data Sharing Agreements</a></li>
				<li class="selected">Report Catalog</li>
				<li><a href="#">Home</a></li>
			</ul>
		</div>
		<div class="col-lg-12 content">
			The Report Catalog is a repository  of a vast library of reports and visualizations, providing the ability to search and filter.
		</div>
	</div>
	<div class="clear"></div>
	<div class="col-lg-3 left-section">
		<div class="clear-filters" ng-click="clearFilters()">
			CLEAR FILTERS
		</div>
		<div class="search">
			<div class="btn-group search-type" data-toggle="buttons">
				<label class="btn btn-secondary active">
			    	<input type="radio" name="options" id="option1" autocomplete="off" checked>All
			  	</label>
			  	<label class="btn btn-secondary">
			    	<input type="radio" name="options" id="option2" autocomplete="off">Subscribed
			  	</label>
			</div>
			<div class="search-bar">
				<p>
					<input type="text" class="search-content" ng-model="query" ng-change="currentPage=1" />
					<img src="images/icons/magnifying_mirror.png" class="search-icon"/>
				</p>
			</div>
		</div>
		<div class="report_status">
			<p class="report_status-title">Report Status</p>
			<div class="report_status-list" >
				<span><input type="checkbox" ng-true-value="All" ng-init="report_status_selected[0]=true; disable_selection_all_1=true" ng-model="report_status_selected[0]" ng-change="changeCheckedBox(1,0)" ng-checked="report_status_selected[0]" ng-disabled="disable_selection_all_1">All</span><br>
				<span ng-repeat="result in results | deleteDuplicate: 'status' | orderBy:'status' track by $index">
					<input type="checkbox" ng-true-value="{{result.status}}" ng-model="report_status_selected[$index+1]" ng-change="changeCheckedBox(1,$index+1)"> {{result.status}}
				</span>
			</div>	
		</div>
		<div class="report_types">
			<p class="report_types-title">Report Types</p>
			<div class="report_types-list" >
				<span><input type="checkbox" ng-true-value="All" ng-init="report_types_selected[0]=true; disable_selection_all_2=true" ng-model="report_types_selected[0]" ng-change="changeCheckedBox(2,0)" ng-checked="report_types_selected[0]" ng-disabled="disable_selection_all_2">All</span><br>
				<span ng-repeat="result in results | deleteDuplicate: 'reportType' | orderBy:'reportType':true track by $index">
					<input type="checkbox" ng-true-value="{{result.reportType}}" ng-model="report_types_selected[$index+1]" ng-change="changeCheckedBox(2,$index+1)"> {{result.reportType}}
				</span>
			</div>	
		</div>
		<div class="communities">
			<p class="communities-title">Communities</p>
			<div class="communities-list" >
				<span><input type="checkbox" ng-init="communities_selected[0]=true; disable_selection_all_3=true" ng-model="communities_selected[0]" ng-change="changeCheckedBox(3,0)" ng-checked="communities_selected[0]" ng-disabled="disable_selection_all_3">All</span><br>
				<span ng-repeat="result in results | deleteDuplicateForCommunities | orderBy:'context.val' track by $index">
					<input type="checkbox" ng-true-value="{{result.context.val}}" ng-model="communities_selected[$index+1]" ng-change="changeCheckedBox(3,$index+1)"> {{result.context.val}}<br>
				</span>
			</div>	
		</div>
		<div class="rating">
			<p class="rating-title">Rating</p>
			<div class="rating-content" ng-init="isNotHovering=true; rating_score=0">
			    <span ng-class="{'selected': rating_score>=5 && isNotHovering}" ng-click="rating_score=5" ng-mouseenter="isNotHovering=false" ng-mouseleave="isNotHovering=true">★</span>
			    <span ng-class="{'selected': rating_score>=4 && isNotHovering}" ng-click="rating_score=4" ng-mouseenter="isNotHovering=false" ng-mouseleave="isNotHovering=true">★</span>
			    <span ng-class="{'selected': rating_score>=3 && isNotHovering}" ng-click="rating_score=3" ng-mouseenter="isNotHovering=false" ng-mouseleave="isNotHovering=true">★</span>
			    <span ng-class="{'selected': rating_score>=2 && isNotHovering}" ng-click="rating_score=2" ng-mouseenter="isNotHovering=false" ng-mouseleave="isNotHovering=true">★</span>
			    <span ng-class="{'selected': rating_score>=1 && isNotHovering}" ng-click="rating_score=1" ng-mouseenter="isNotHovering=false" ng-mouseleave="isNotHovering=true">★</span>
			</div>
		</div>
	</div>
	<div class="col-lg-9 result-section" ng-init="currentPage=1">
		<div class="loading" ng-init="loading_icon_display=true" ng-show="loading_icon_display">
			<img src="images/icons/loading.gif" />
		</div>
		<div class="cover" ng-init="loading_icon_display=true" ng-show="loading_icon_display"></div>
		<table class="table">
			<thead>
				<tr >
					<th ng-click="orderField='name.val'; isReverse=!isReverse; scrollTop(); currentPage=1"><span>Name</span></th>
					<th ng-click="orderField='description'; isReverse=!isReverse; scrollTop(); currentPage=1"><span>Description</span></th>
					<th ng-click="orderField='status'; isReverse=!isReverse; scrollTop(); currentPage=1"><span>Status</span></th>
					<th ng-click="orderField='reportType'; isReverse=!isReverse; scrollTop(); currentPage=1"><span>Report Type</span></th>
					<th ng-click="orderField='context.val'; isReverse=!isReverse; scrollTop(); currentPage=1"><span>Community</span></th>
					<th><span>Link</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="result in filtered = (results | searchBarFilter: query | RCResultFilter:report_status_selected:report_types_selected:communities_selected | RatingFilter: rating_score | orderBy:orderField:isReverse) track by $index " ng-if="$index>=(currentPage-1)*10 && $index<currentPage*10" ng-style="result.status == 'Certified' && {'font-weight': 'bold'}">
					<td><a href="{{result.name.pageUrl}}" target="_blank">{{result.name.val}}</a></td>
					<td>{{result.description}}</td>
					<td>{{result.status}}</td>
					<td>{{result.reportType}}</td>
					<td>{{result.context.val}}</td>
					<td><a ng-show="result.gsourceLink != null" href="{{result.gsourceLink}}" target="_blank">View</a></td>
				</tr>
			</tbody>
		</table>
		<div class="page">
			<button class="btn btn-primary" ng-click="currentPage=currentPage-1; scrollTop()" ng-disabled="currentPage==1">LAST</button>
			<span ng-show="currentPage*10 >= filtered.length">{{filtered.length}}</span>
			<span ng-show="currentPage*10 < filtered.length">{{currentPage*10}}</span>
			<span>/</span>
			<span>{{filtered.length}} </span>
			<button class="btn btn-primary" ng-disabled="currentPage*10 >= filtered.length" ng-click="currentPage=currentPage+1; scrollTop()">NEXT</button>
		</div>
	</div>
</div>